body{
	/*background-image: url(../images/tiger.jpg);*/
	background-color: #3f3f44;
	color: white;
	
}

.a-webster{
	color:black;

}

hr{
	height: 5px;
	background-color: black;
	border-style: double;
}

h1{
	font-family: 'Caveat', cursive;
}
.marquee{
	font-size: 25px;
}